body{
	padding: 0;
	margin: 0;
	background-image: url('./images/cactus.jpg');
	background-size: cover;
	background-attachment:  fixed;
	font-family: Arial, Helvetica, sans-serif;    
}

header{
    position: fixed;
    color: white;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    width: 100%;
    margin-top: 0;
    padding: 0;
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: 1;
    top: 0;
}

header h1{
    margin-left: 15%;
    margin-top:0;
}

#maincontainer{
    position: relative;
    z-index: -1;
    width: 960px;
    margin: auto;
    margin-top: 100px;
    height: 100%;
    border: solid black 2px;
    background-image: url('./images/rock.jpg');
	background-size: cover;
	background-attachment:  fixed;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;   
}

.rotjpg{
    transform: rotate(90deg);
}

#maincontainer img{
    height: 500px;
    padding: 50px;
}